@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}
.container {
    display: flex;
}

.left-side {
    background-image: url(background.jpg);
    /* https://unsplash.com/photos/wOnNwh57DGA?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
    height: 100vh;
    width: 40vw;
    background-position: center;
    background-size: 100vh auto;
    background-repeat: no-repeat;
    display: flex;
}

.background-image {
    width: 100%;
    object-fit: none;
}

.logo-banner {
    background-color: black;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 29vh;
}

.logo > img {
    height: 130px;
    width: auto;
    opacity: 1;
}

@font-face  {
    font-family: 'NorseBold';
    src: url("Norse-Bold.otf") format("opentype");
}

.logo-text {
    color: white;
    font-family: 'NorseBold', sans-serif;
    font-size: 7rem;
    opacity: 1;
}

.right-side {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-top {
    width: 80%;
}

form {
    border: solid black;
    width: 80%;
    padding-left: 20px;
}

.form-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label-set {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 40%, 600px);
}

.form-row {
    display: flex;
    gap: 20px;
}

input {
    width: 100%;
    height: 20px;
    border: solid white;
    background-color: black;
    border-radius: 5px;
    color: inherit;
}

input::placeholder {
    color: rgb(95, 95, 95);
}

input:invalid {
    border: solid red;
}

button {
    font: inherit;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    border: solid white;
    background-color: black;
    color: inherit;
}

button:hover {
    color: black;
    background-color: white;
    border: solid black;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .page-bottom {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 10px;
        margin: 0;
    }

    button {
        width: 150px;
        margin: 15px;
        margin-bottom: 0px;
    }

}